div.notice{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 20px;
    bottom: 10px;
    left: 10px;
    z-index: 999;
    background-color: #000;
    color: #fff;;
    font-size: 14px;
    max-width: 400px;
    
    @include respond-above(sm){
        bottom: 10px !important;
    }


    &.notice-error, &.notice-notice{
        // background-image: url(../images/icons/cross.svg);
        

        a{
            display: none;
        }
    }

    &.notice-succes{
        // background-image: url(../images/icons/tick.svg);
        
        a{
            display: none;
        }
    }

    div.timer{
        margin-top: 10px;
        height: 3px;
        width: 100%;
        background-color: white;
    }
}

// Make the notices on product page go above product title (mobile)
body.single-product{
    div.notice{
        bottom: 70px;
    }
}