$header__top__bar-height : 25px;
$header__main__content-height : 70px;
$header__icon__size: 25px;
$header__icon-menu: url(../images/icons/hamburger.svg);
$header__icon-search: url(../images/icons/search.svg);
$header__icon-shoppingbag: url(../images/icons/shoppingbag.svg);
$header__icon-cross: url(../images/icons/cross.svg);

body{
    overflow:none;
}

div.header__top__bar{
    position: relative;
    height: $header__top__bar-height;
    
    p, a{
        font-size: 12px;
    }

    p.header__top__bar__account{
        display: none;
        
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);

        @include respond-above(sm){
            display: block;
        }

        a{
            margin: 0 8px;
            text-decoration: none;
        }
    }

    p.header__top__bar__sellingpoint{
        width: 100%;
        font-weight: 400;
        font-size: 10px !important;
        letter-spacing: 0.56px;
        height: $header__top__bar-height;
        line-height: $header__top__bar-height;
        text-align: center;
    }
}

header{
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0px;
    background-color: #fff;
    z-index: 99;
    // box-shadow: 0 11px 30px rgba(160,170,180,.1);
    border-bottom: 3px solid transparent;
    transition: all .3s;
    box-sizing: border-box;


    div.header__main__content{
        display: flex;
        justify-content: space-between;
        height: $header__main__content-height;

        div.header__icon{
            width: $header__icon__size;
            min-height: $header__icon__size;
            cursor: pointer;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            // margin: 0px 10px;

            img{
                width: 100%;
                height: 100%;
                fill: blue;
            }

            &.header__icon-menu{
                margin-right: 10px;
                @include respond-above(md){ display: none; }
            }

            &.header__icon-search{
                @include respond-above(md){ margin-right: 30px; }
            }

            &.header__icon-shoppingbag{
                position: relative;

                &:after{
                    content: attr(cart-count);
                    position: absolute;
                    top: 52%; 
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 20px;
                    height: 20px;
                    font-size: 12px;
                    text-align: center;
                    font-weight: 600;
                    line-height: 20px;
                }

                @include respond-above(md){ margin-left: 30px; }
            }
        }

        div.menu-header-menu-left-container{
            display: none;

            @include respond-above(md){
                display: inline-flex;
            }
        }

        div.menu-header-menu-right-container{
            display: none;

            @include respond-above(md){
                display: inline-flex;
            }
        }

        ul.menu{
            list-style: none;
            padding: 0px;
            font-size: 16px;

            li.menu-item{
                display: inline;
                position: relative;
                text-decoration: none;
                letter-spacing: .4px;
                text-transform: none !important;

                &:not(:last-child){
                    margin-right: 30px;
                }

                a{
                    text-decoration: none;
                    letter-spacing: .4px;
                    font-weight: normal !important;

                    &:hover{
                        color: #deaccf;
                    }
                }

                ul.sub-menu{
                    display: none;
                    position: absolute;
                    padding: 35px 0px 10px 0px;
                    left: -10px;
                    background-color: #FFFFFF;

                    li{
                        display: block;
                        margin: 0px 10px 0px 0px;
                        width: 200px;


                        &:not(:last-child){
                            margin: 0px 10px 20px 0px;
                        }

                        a{
                            width: 200px;
                            display: block;
                            box-sizing: border-box;
                            padding: 0px 15px 0px 10px;
                            background-image: url(../images/icons/arrow.svg);
                            background-size: 10px;
                            background-position: right center;
                            background-repeat: no-repeat;
                        }
                    }
                }

                &:hover{
                    ul.sub-menu{display: block;}
                }
            }
        } 

        div.header__nav__left{
            flex: 1;
            height: 100%;
            display: flex;
            align-items: center;
        }
       
        div.header__logo{
            flex: 1;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            a{
                width: 140px;

                @include respond-above(md){
                    width: 200px;
                }

                svg{
                   width: 100%; 
                }
            }
        }

        div.header__nav__right{
            flex: 1;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 20px;

            @include respond-above(sm){
                padding-right: 0px;
            }
        }
    }

    div.searchbar{
        opacity: 0;
        background-color: #fff;
        position: absolute;
        height: 90px;
        width: 100%;
        box-sizing: border-box;
        padding: 0px 10px;
        transition: opacity .2s;
        pointer-events: none;
        display: flex;
        align-items: center;
        box-shadow: 0 11px 30px rgba(160,170,180,.1);
        z-index: 70;

        @include respond-above(sm){
            padding: 0px 70px;
            
        }

        div.aws-container{
            width: 100%;
            overflow-x: hidden;
            box-sizing: border-box;
            background-color: #fff;

            input{
                border: none;
                border-bottom: 2px solid rgba(211, 211, 211, .5);
                font-size: 20px;
                width: 100%;

                &::placeholder{
                    font-size: 20px;
                    color: lightgrey;
                }
            }
        }
    }

    div.overlay{
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .3);
        opacity: 0;
        transition: opacity .3s;
        pointer-events: none;
    }

    nav.mobile-menu{
        position: fixed;
        -webkit-overflow-scrolling: touch;
        left: -100vw;
        top: 0px;
        background-color: #FFFFFF;
        // opacity: .95;
        width: 100vw;
        height: 100vh;
        transition: all .5s;
        transition-property: left;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            // display: none;
        }

        @include respond-above(sm){
             width: 400px;   
        }

        div.mobile-menu__container{
            width: 100%;
            padding: 20px 40px 0px 20px;
            box-sizing: border-box;

            div.mobile-menu__header{
                width: 100%;
                margin-bottom: 80px;
    
                img{
                    width: $header__icon__size;
                    min-height: $header__icon__size;
                    cursor: pointer;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100%;

                    &:first-child{
                        float: left;
                    }

                    &:last-child{
                        float: right;
                    }
                }
            }

            div.mobile-menu__content{

                ul{
                    margin: 0px;
                    padding: 0px;
                    list-style: none;
                    

                    li{
                        width: 100%;
                        font-size: 16px;
                        letter-spacing: .4px;
                        margin-bottom: 40px;
                        overflow: hidden;
                        max-height: 20px;
                        transition: max-height .4s ease-in-out;

                        &.opened{
                            max-height: 140px;

                            &.menu-item-has-children{
                                &::after{
                                    transform: rotate(90deg);
                                }
                            }
                        }

                        &.menu-item-type-custom{
                            font-weight: bold;
                        
                        }

                        &.menu-item-has-children{
                            position: relative;
                            cursor: pointer;

                            &::after{
                                content: '';
                                transition: transform .4s;
                                position: absolute;
                                top: 0px;
                                right: 0px;
                                width: 17px;
                                height: 17px;
                                background-image: url(../images/icons/arrow.svg);
                                background-size: 100%;
                                background-position: right top;
                                background-repeat: no-repeat;
                                pointer-events: none;

                            }
                        }

                        a{
                            display: block;
                            text-decoration: none;
                        }

                        ul.sub-menu{
                            li{
                                font-weight: 14px;
                                opacity: .8;
                                font-weight: normal;
                                margin: 10px 0px;
                                a{
                                    background-image: none;
                                    margin-right: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }

    // Styles when page is scrolled down
    &.page-scrolled{
        border-bottom: 5px solid #f2f2f2;
    }

    // Styles when searchbar is open
    &.searchbar-visible{
        box-shadow: none;

        div.searchbar{
            opacity: 1;
            pointer-events: all;
        }

        div.header__icon-search{
            opacity: .4;
        }
    }

    // Styles when menu is open
    &.mobile-menu-visible{
        div.overlay{
            pointer-events: all;
            opacity: 1;
        }
        nav.mobile-menu{
            left: 0px;
        }
    }
}

div.aws-search-result{
    left: 0% !important;
    width: 100% !important;
    box-sizing: border-box;
    border: none;
    padding: 0px 10px;

    @include respond-above(sm){
        padding: 10px 70px 10px 70px;
    }

    @include respond-above(lg){
        padding: 10px 70px 10px 70px;
    }

    ul{

        li{
            border-bottom: none;
        }
    }
}


